ion-content{
    // --background: #FFFFFF;
    ion-label{
        --color: #27AE60;
        font-size: 1.2rem;
    }

    .login-section{
        .heading{
            h3{
                color: #000000;
                font-size: 1.5rem;
            }
        }
    }

    .forgot-pass{
        p{
            color: #27AE60;
            font-size: 0.9rem;
        }
    }

    .action-signup{
        span{
            color: #27AE60;
        }
    }

    .action-signin{
        ion-button{
            --background: #27AE60;
        }
    }

    .action-google{
        ion-button{
            --border-color: #27AE60;
            --color: #707070;
        }
    }

    .top-section{
        max-height: 280px;

        border-radius: 0 0 110px 110px;
        background: #6FCF97;

        ion-button{
            --border-radius: 15px;
            width: 3.125rem;
            height: 3.125rem;
            --color: #6FCF97;
            --background: #FFFFFF;
        }

        .back-img{
            padding-left: 5%;
            img{
                width: 350px;
                height: 257px;
            }
        }
    }

    .info-section{
        .heading{
            padding-top: 40px;
            span{
               font-weight: 600; 
            }
        }
    }

    
    
}

