
<ion-header class="ion-no-border">
  <ion-toolbar class="ion-padding-horizontal ion-padding-top">
    
    <div class="title" slot="start">
      <p>Our Menu</p>
    </div>
    
    <ion-buttons slot="end">
      <ion-button class="notif" >
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

	</ion-toolbar>

  <ion-item class="search">
    <ion-searchbar showCancelButton="focus"></ion-searchbar>
	</ion-item>

  <ion-item class="ion-padding-horizontal tab-segment">
    <ion-segment (ionChange)="segmentChanged($event)">
      <ion-segment-button value="all">
        <ion-label>All</ion-label>
      </ion-segment-button>
      <ion-segment-button value="salad">
        <ion-label>Salad</ion-label>
      </ion-segment-button>
      <ion-segment-button value="breakfast">
        <ion-label>Breakfast</ion-label>
      </ion-segment-button>
      <ion-segment-button value="dessert">
        <ion-label>Dessert</ion-label>
      </ion-segment-button>
    </ion-segment>
	</ion-item>

</ion-header>

<ion-content>
  <ion-card>
    <ion-row>
      <ion-col size="4">
        <div class="back-img"> 
          <img src="../../../assets/img/saladMenu.png">
        </div>
      </ion-col>
      <ion-col size="8">
        <ion-card-header>
          <ion-card-title>Green Salad</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Lettuce, cucumber,  spring onions, tuna,eggs, tomatoes, carrots...<br>
          <p class="price">GH¢ 20</p>
        </ion-card-content>
       
      </ion-col>
    </ion-row>
   
  </ion-card>


</ion-content>