<ion-content>
  <div class="top-section ion-padding-vertical">
    <div class="circle ion-padding-horizontal">
      <ion-button>
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
      <div class="back-img"> 
        <img src="../../../assets/img/Cut tomatoes 1.png">
      </div>
    </div> 
  </div>
  <div class="info-section ion-padding-horizontal ion-padding-top">
    <div class="heading ion-padding-horizontal">
      <h3 class="ion-padding-horizontal"> Enter your <span> phone </span></h3>
    </div>
    <div class="info ion-padding-horizontal">
      <p class="ion-padding-horizontal">Enter your phone number with the country code in brackets.</p>
    </div>

    <!-- recaptcher container -->
    <div id="recaptcha-container" style="display: none;"></div>

    <div class="login-form ion-padding">

      <div class="form-input ion-padding">
        <ion-item>
          <ion-button slot="start" mode="ios" fill="clear" (click)="showCodes()" class="countryCodeBtn">
            {{code}}
            <ion-icon name="chevron-down-outline" slot="end"></ion-icon>
          </ion-button>
          <ion-label position="stacked">Phone Number</ion-label>
          <ion-input type="tel" clear-input="true" id="phoneNumber"></ion-input>
        </ion-item>
      </div>

      
    </div>

    <div class="action-signin ion-padding">
      <ion-button expand="block" shape="round" class="signin-button" (click)="sendOTP" *ngIf="!spin">Verify number</ion-button>
    </div>


    <div class="ion-text-center" *ngIf="spin">
      <ion-spinner color="primary"></ion-spinner>
    </div>


  </div>


</ion-content>