@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#half-highlight {
    font-size: 30px;
    
    background-image: linear-gradient(to right, transparent 50%, #6FCF97 50%);
    background-origin: 0;
    background-size: 200% 50%;
    background-repeat: repeat-x;
    background-position: -100% 100%;
    transition: background-position 0.5s;
  }