<ion-content>
  <div class="top-section ion-padding-bottom">
    <div class="circle ion-padding">
      <ion-button>
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
      <div class="back-img ion-padding-vertical"> 
        <img src="../../../assets/img/Salad3 1.png">
      </div>
    </div> 
  </div>
  <div class="login-section ion-padding-horizontal">
    <div class="heading ion-padding">
      <h3 class="ion-padding-horizontal"> Sign in </h3>
    </div>
    <div class="login-form ion-padding">
      <div class="form-input ion-padding-bottom">
        <ion-item>
          <ion-label position="stacked">Email Address</ion-label>
          <ion-input type="email" clear-input="true" inputmode="email" [(ngModel)]="email"></ion-input>
        </ion-item>
      </div>

      <div class="form-input">
        <ion-item>
          <ion-label position="stacked">Password</ion-label>
          <ion-input type="password" clear-input="true" [(ngModel)]="password"></ion-input>
        </ion-item>
      </div>

      <div class="forgot-pass ion-padding-horizontal">
        <p>Forgot password ?</p>
      </div>
      
    </div>

    <div class="action-signin ion-padding-horizontal ion-padding-bottom">
      <ion-button expand="block" shape="round" class="signin-button" (click)="login()">Sign in</ion-button>
    </div>

    <div class="action-google ion-padding-horizontal">
      <ion-button expand="block" shape="round" fill="outline" class="signin-button">
        <ion-icon slot="start" name="logo-google"></ion-icon>
        Sign in with Google
      </ion-button>
    </div>

    <div class="action-signup ion-padding ion-text-center">
      <p>Don't have an account? <span>Sign up</span> </p>
    </div>
  </div>



</ion-content>